body {
    background-color: #e7e7e7;
    height: 2000px;
}

@media all and (max-width:767px) {
    .edit1 {
        height: 48px;

    }

    .posi {
        top: 0px;
        z-index: 2;
    }

    .edit2 {
        width: 28px;
        height: 28px;
        background-image: url(../images/1.png);
        transition: all 300ms ease 0s;
    }

    .edit2:hover {
        background-image: url(../images/2.jpg);
    }

    .edit11 {
        margin-top: 65px;
    }

    .edit12 {
        background-image: url(../images/5.jpg);
        background-size: cover;
        height: 480px;
    }

    .edit13 {
        margin-top: 160px;
        width: 104px;
        height: 30px;
        background-color: white;
        border-radius: 6px;
    }

    .edit13:hover {
        background-color: #e1e1e1;
    }

    .edit14 {
        line-height: 30px;
        font-size: 12px;
        font-weight: 400;
        font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    }

    .edit15 {
        height: 15px;
        background-image: linear-gradient(to right, #e7e7e7, white);
    }

    .edit16 {
        height: 480px;
        background-image: url(../images/6.jpg);
        background-size: cover;
    }
}

@media all and (min-width:768px) and (max-width:1199px) {
    .posi {
        top: 0px;
        z-index: 2;
    }

    .edit1 {
        height: 48px;

    }

    .edit2 {
        width: 28px;
        height: 28px;
        background-image: url(../images/1.png);
        transition: all 300ms ease 0s;
    }

    .edit11-new {
        margin-top: 50px;
    }

    .edit-new1 {
        background-image: url(../images/7.jpg);
        height: 316px;
        background-size: cover;
    }

    .edit2:hover {
        background-image: url(../images/2.jpg);
    }

    .edit4 {
        font-size: 12px;
        font-weight: 400;
        font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    }

    .edit4 {
        height: 48px;
        line-height: 35px;
    }

    .edit4::after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        margin-top: 3px;
        background-color: #ff7819;
        transform: scaleX(0);
        transition: all 200ms ease 100ms;
    }

    .edit4:hover::after {
        transform: scaleX(1);
    }

    .edit6 {
        height: 48px;
    }

    .edit7 {
        list-style-type: none;
        line-height: 48px;
    }

    .edit8 {
        height: 48px;
        font-size: 12px;
        font-weight: 400;
        font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    }

    .edit10::after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        margin-top: -5px;
        background-color: #ff7819;
        transform: scaleX(0);
        transition: all 200ms ease 100ms;

    }

    .edit10:hover::after {
        transform: scaleX(1);
    }

    .edit9 {
        height: 48px;
    }

    .edit13 {

        margin-top: 190px;
        margin-right: 100px;
        width: 104px;
        height: 30px;
        background-color: white;
        border-radius: 6px;
    }

    .edit13:hover {
        background-color: #e1e1e1;
    }
}

@media all and (min-wdth:1200px) {}